.red {
  background-color: red;
}

.green {
  background-color: green;
}

.sphere {
  height: 50px;
  width: 50px;
  border-radius: 50%;
  text-align: center;
  vertical-align: middle !important;
}

.flex {
  display: flex;
}
